@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(0.9711 0.0074 80.7211);
  --foreground: oklch(0.2989 0.0390 29.5037);
  --card: oklch(0.9711 0.0074 80.7211);
  --card-foreground: oklch(0.2989 0.0390 29.5037);
  --popover: oklch(0.9711 0.0074 80.7211);
  --popover-foreground: oklch(0.2989 0.0390 29.5037);
  --primary: oklch(0.5329 0.1451 143.8751);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9582 0.0244 147.2913);
  --secondary-foreground: oklch(0.4331 0.1236 143.9862);
  --muted: oklch(0.9376 0.0159 73.6769);
  --muted-foreground: oklch(0.4494 0.0531 39.2056);
  --accent: oklch(0.8985 0.0554 145.9040);
  --accent-foreground: oklch(0.4331 0.1236 143.9862);
  --destructive: oklch(0.5474 0.2067 27.5515);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8811 0.0225 74.0764);
  --input: oklch(0.8811 0.0225 74.0764);
  --ring: oklch(0.5329 0.1451 143.8751);
  --chart-1: oklch(0.6838 0.1756 143.9452);
  --chart-2: oklch(0.5843 0.1551 143.9216);
  --chart-3: oklch(0.5329 0.1451 143.8751);
  --chart-4: oklch(0.4331 0.1236 143.9862);
  --chart-5: oklch(0.2470 0.0587 145.4280);
  --sidebar: oklch(0.9376 0.0159 73.6769);
  --sidebar-foreground: oklch(0.2989 0.0390 29.5037);
  --sidebar-primary: oklch(0.5329 0.1451 143.8751);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8985 0.0554 145.9040);
  --sidebar-accent-foreground: oklch(0.4331 0.1236 143.9862);
  --sidebar-border: oklch(0.8811 0.0225 74.0764);
  --sidebar-ring: oklch(0.5329 0.1451 143.8751);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2706 0.0309 151.7274);
  --foreground: oklch(0.9428 0.0114 71.8962);
  --card: oklch(0.3343 0.0313 146.5666);
  --card-foreground: oklch(0.9428 0.0114 71.8962);
  --popover: oklch(0.3343 0.0313 146.5666);
  --popover-foreground: oklch(0.9428 0.0114 71.8962);
  --primary: oklch(0.6838 0.1756 143.9452);
  --primary-foreground: oklch(0.2470 0.0587 145.4280);
  --secondary: oklch(0.3957 0.0306 143.2185);
  --secondary-foreground: oklch(0.8991 0.0183 142.8150);
  --muted: oklch(0.2954 0.0234 147.4071);
  --muted-foreground: oklch(0.8584 0.0192 75.3024);
  --accent: oklch(0.5843 0.1551 143.9216);
  --accent-foreground: oklch(0.9428 0.0114 71.8962);
  --destructive: oklch(0.5474 0.2067 27.5515);
  --destructive-foreground: oklch(0.9428 0.0114 71.8962);
  --border: oklch(0.3957 0.0306 143.2185);
  --input: oklch(0.3957 0.0306 143.2185);
  --ring: oklch(0.6838 0.1756 143.9452);
  --chart-1: oklch(0.7729 0.1295 145.3349);
  --chart-2: oklch(0.7261 0.1535 144.6329);
  --chart-3: oklch(0.6838 0.1756 143.9452);
  --chart-4: oklch(0.6402 0.1666 144.0910);
  --chart-5: oklch(0.5843 0.1551 143.9216);
  --sidebar: oklch(0.2706 0.0309 151.7274);
  --sidebar-foreground: oklch(0.9428 0.0114 71.8962);
  --sidebar-primary: oklch(0.6838 0.1756 143.9452);
  --sidebar-primary-foreground: oklch(0.2470 0.0587 145.4280);
  --sidebar-accent: oklch(0.5843 0.1551 143.9216);
  --sidebar-accent-foreground: oklch(0.9428 0.0114 71.8962);
  --sidebar-border: oklch(0.3957 0.0306 143.2185);
  --sidebar-ring: oklch(0.6838 0.1756 143.9452);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--muted);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted-foreground);
}

.dark ::-webkit-scrollbar-track {
  background: var(--muted);
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--border);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--muted-foreground);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) var(--muted);
}
